<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div id="newPost">
      <h1 class="startingContentHome"><%= startingTitle %> :)</h1>
      <div id="homeImg"></div>
      <h2 class="startingContentHome"><%=startingContentHome%></h2>
    </div>
  </body>
</html>
<%- include('partials/footer') %>
