<!-- Footer Container -->
<footer class="footer">
  <div class="footer-container">
    <!-- Copyright Information -->
    <p class="copyright">
      © <%= new Date().getFullYear() %> Creative Solutions By Omar. All rights
      reserved.
    </p>
  </div>
</footer>
